@use '../../sass/abstracts/variables' as *;

.clients {
    padding: 8rem 0;
    width: 120rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    &-list {
        display: flex;
        width: 120rem;
        height: 18rem;
        align-items: center;
        justify-content: space-between;
        gap: 5rem;
        margin: 4rem auto 0;
    }
}