@use '../sass/abstracts/variables' as *;
@use '../sass/abstracts/mixins' as *;

.checkout {
    display: flex;
    flex-direction: column;
    padding: 4rem 0;
    text-align: start;

    &-form {
        display: flex;
        gap: 2rem;
    }

    &-wrapper {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}