@use '../../sass/abstracts/variables' as *;
@use '../../sass/abstracts/mixins' as *;

.card {
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1.2rem;
    width: 27.6rem;
    height: 46.5rem;
    border: solid 1px $primary-200;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .04), 0 2px 6px rgba(0, 0, 0, .06);

    &-img {
        width: 100%;
        height: 34.5rem;
        border-top-left-radius: 1.2rem;
        border-top-right-radius: 1.2rem;
        object-fit: cover;
    }

    &-content {
        padding: 2.4rem;
        width: 100%;

        &-text {
            font-family: "Open Sans", sans-serif;
            margin: 0.8rem 0 2.5rem 0;
            height: 4.7rem;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }

        &-buy {
            display: flex;
            margin-top: 4rem;

            &-wrapper {
                display: flex;
                margin-right: auto;
                align-items: center;

                &-price {
                    font-weight: 700;
                    font-size: 2.4rem;
                    line-height: 133%;
                    color: $primary-900;
                    margin-right: 1rem;


                    &-old {
                        font-weight: 600;
                        font-size: 1.8rem;
                        color: $neutral-400;
                        text-decoration: line-through;
                    }
                }
            }



            &-btn {
                width: 3.8rem;
                height: 3.6rem;
                border: 1px solid $primary-500;
                border-radius: 0.8rem;
                background-color: transparent;

                &-icon {
                    width: 2.4rem;
                    height: 2.4rem;
                    fill: $primary-500;
                }
            }
        }
    }
}