@use '../../sass/abstracts/variables' as *;

.header {
    display: flex;
    border-bottom: 1px solid $primary-100;
    width: 100%;
    height: 6.4rem;
    background: $secondary-100;

    &-content {
        display: flex;
        height: 6.4rem;
        width: 120rem;
    }

    &-logo {
        fill: #734F41;
        margin: 0.8rem 6rem 0.8rem 0;
    }
    &-nav {
        margin: 0 auto;
        display: flex;
        gap: 6rem;

        &-list {
            display: flex;
            gap: 1.6rem;
            margin: 2rem 0;

            &-link {
                padding: 2rem 0;
                width: 100%;
            }
        }

        &-search {
            display: flex;
            gap: 2rem;
            margin: 1.2rem 0;
            align-items: center;

            &-input {
                border: 1px solid $primary-200;
                border-radius: 0.8rem;
                padding: 0.8rem 1.6rem;
                width: 26.2rem;
                height: 4rem;

                &::placeholder {
                        font-size: 1.4rem;
                        line-height: 150%;
                        color: $primary-300;
                }
            }
        }
    }
}

.box {
    position: relative;
}

.icon {
    position: absolute;
    top: 50%;
    right: 1.6rem;
    transform: translateY(-50%);
    width: 2.4rem;
    height: 2.4rem;
    stroke-width: 2px;
    stroke: $primary-800;
    fill: $primary-800;
}