@use '../../sass/abstracts/variables' as *;


.sidebar {
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    margin-right: 3rem;
    width: 28rem;
    height: 97rem;

    border: solid 1px $primary-100;
    border-radius: 1.2rem;
    padding: 4rem 1rem; 

    &-title {
        font-weight: 700;
        font-size: 2rem;
        line-height: 130%;
        color: $primary-900;
        margin-bottom: 4rem;
    }

    &-field {
        border: none;
        border-bottom: solid 1px $primary-100;
        padding: 2rem 0;
        margin-bottom: 2rem;

        &:last-child {
            border: none;
            margin-bottom: 0;
        }

        &-legend {
            font-weight: 700;
            color: $primary-900;
        }
    }

}


.sidebar-field label {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding: 0.5rem 0; 
    padding-left: 2rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: $primary-700;
    line-height: 1.5em;

    &:hover,
    &:focus,
    &:active {
        color: $primary-900;
    }
}

.sidebar-field input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;

    width: 18px;
    height: 18px;
    min-width: 18px;
    min-height: 18px;
    margin-right: 8px;

    border: 1px solid #211612;
    border-radius: 2px;
    background-color: #fff;
    display: inline-block;
    position: relative;
    transition: all 0.2s ease-in-out;

    &:checked {
        background-color: #000;
        border-color: #000;
    }

    &:checked::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        width: 4px;
        height: 8px;
        border: solid white;
        border-width: 0 2px 2px 0;
    }
}