@use '../../sass/abstracts/variables' as *;


.card {
    border-radius: 1.2rem;
    padding: 0 0 2.4rem;
    width: 38.4rem;
    height: 50.8rem;
    box-shadow: 0 .4rem .6rem 0 rgba(33, 22, 18, 0.1);
    background: #fff;
    font-family: "Open Sans", sans-serif;

    &-image {
        width: 100%;
        height: 22.4rem;
        border-top-left-radius: 1.2rem;
        border-top-right-radius: 1.2rem;
        object-fit: cover;
        margin-bottom: 2.4rem;
    }

    &-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 2.4rem;
        width: 38.4rem;
        height: 23.6rem;

        &-top {
            display: flex;
            margin-bottom: 0.8rem;
            align-items: center;

            &-tag {
                border-radius: .8rem;
                padding: 0 1rem .2rem;
                width: 7.5rem;
                height: 2rem;
                background: $primary-100;
                margin-right: 1.6rem;

                font-size: 1.2rem;
                line-height: 150%;
                text-align: center;
                color: $primary-900;
            }

            &-date {
                font-size: 1.2rem;
                color: $primary-600;
            }
        }

        &-text {
            margin-top: 0.8rem;
            margin-bottom: 1.6rem;
        }

        &-btn {
            display: flex;
            align-self: self-end;
            width: 8.7rem;
            height: 2.1rem;

            font-weight: 600;
            font-size: 1.4rem;
            line-height: 150%;
            text-decoration-skip-ink: none;
            text-align: center;
            color: $primary-500;
        }
    }
}