@use '../../sass/abstracts/variables' as *;


.card {
    border-radius: 1.2rem;
    padding: 0 0 2.4rem;
    width: 32rem;
    height: 47.3rem;
    box-shadow: 0 .4rem .6rem 0 rgba(33, 22, 18, 0.1);
    border: 1px solid $primary-200;
    background: #fff;
    font-family: "Open Sans", sans-serif;
    transition: all 0.3s ease;
    overflow: hidden;

    &:hover,
    &:focus,
    &:active {
        box-shadow: 0 .8rem 1.2rem 0 rgba(33, 22, 18, 0.15);
        border: 1px solid $primary-400;
    }

    &-image {
        width: 100%;
        height: 22.4rem;
        border-top-left-radius: 1.2rem;
        border-top-right-radius: 1.2rem;
        object-fit: cover;
        margin-bottom: 2.4rem;
    }

    &-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 2.4rem;
        width: 32rem;
        height: 23.6rem;

        &-top {
            display: flex;
            margin-bottom: 0.8rem;
            align-items: center;

            &-wrapper {
                padding: 0.5rem 1rem;
                border-radius: 1.8rem;
                background: $primary-300;
                margin-right: 1.6rem;
                display: flex;
                align-items: center;
                justify-content: center;

                font-size: 1.2rem;
                    font-weight: 600;
                    line-height: 150%;
                    text-align: center;
                    color: $primary-900;
                    text-transform: capitalize;
            }

            &-date {
                font-size: 1.2rem;
                color: $primary-600;
            }
        }

        &-text {
            margin-top: 0.8rem;
            margin-bottom: 1.6rem;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }

        &-btn {
            display: flex;
            align-self: self-end;
            width: 8.7rem;
            height: 2.1rem;

            font-weight: 600;
            font-size: 1.4rem;
            line-height: 150%;
            text-decoration-skip-ink: none;
            text-align: center;
            color: $primary-500;

            &:hover,
            &:focus,
            &:active {
                text-decoration: underline;
            }
        }
    }
}