
@use '../sass/abstracts/variables' as *;

.boksy {
    padding: 8rem 0;
    display: flex;
    flex-direction: column;
    width: 120rem;
    font-family: "Open Sans", sans-serif;

    &-top {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin-bottom: 4rem;

        &-paragraph {
            font-size: 2rem;
            color: $primary-700;
            width: 63rem;
        }
    }

    &-layout {
        display: flex;

        &-filters {
            margin-right: 2.4rem;
        }

        &-products {
            display: flex;
            flex-direction: column;
            width: 88.2rem;

            &-list {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                width: 88.2rem;
                gap: 2.4rem;
            }
        
            &-pagination {
                display: flex;
                gap: 0.8rem;
                margin: 3.2rem auto 4rem;

                &-btn {
                    border: 1px solid $primary-300;
                    border-radius: .8rem;
                    width: 4rem;
                    height: 4rem;
                    background-color: transparent;

                    &:hover,
                    &:focus,
                    &:active {
                        border-color: $primary-500;
                        background-color: $primary-500;
                        color: #ffffff;
                    }

                    &.active {
                        border-color: $primary-500;
                        background-color: $primary-500;
                        color: #ffffff;
                    }
                }
            }
        } 
    }

    
    &-bottom {
        display: flex;
        gap: 2.4rem;
        padding: 4rem 0;

        &-title {
            font-weight: 600;
            font-size: 2rem;
            line-height: 150%;
            color: #2d2a2a;
            margin-bottom: 1.6rem;
        }

        &-tekst {
            line-height: 150%;
            color: #4b5563;
        }
    }
}