@use '../sass/abstracts/variables' as *;
@use '../sass/abstracts/mixins' as *;

.cart {
    padding: 8rem 0;
    width: 144rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;

    &-top {
        display: flex;
        width: 120rem;
        margin: 0 auto;
        margin-bottom: 8rem;

        &-left {
            display: flex;
            flex-direction: column;
            margin-right: auto;
            width: 69rem;

            &-list {
                display: flex;
                flex-direction: column;
                gap: 2.4rem;
                width: 69rem;
                margin-bottom: 3.2rem;

                &-item {
                    border-bottom: 1px solid $primary-300;
                    width: 100%;
                }
            }

            &-bottom {
                display: flex;

                &-link {
                    display: flex;
                    gap: 1.6rem;
                    margin-right: auto;
                    width: 18rem;

                    font-weight: 600;
                    font-size: 1.6rem;
                    line-height: 150%;
                    text-align: center;
                    color: $primary-900;

                    &-icon {
                        width: 2.4rem;
                        height: 2.4rem;
                        color: $primary-900;
                    }
                }

                &-btn {
                    background-color: transparent;
                    border: none;
                    
                    font-family: "Open Sans", sans-serif;
                    font-weight: 600;
                    font-size: 1.6rem;
                    line-height: 150%;
                    text-align: center;
                    color: $primary-900;
                }
            }
        }

        &-right {
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid var(--primary-300);
            border-radius: 1.2rem;
            padding: 3.2rem 2.4rem;
            width: 44rem;
            background-color: $secondary-100;

            &-list {
                display: flex;
                flex-direction: column;
                gap: 1.6rem;
                width: 100%;
                padding-bottom: 2.4rem;
                border-bottom: 1px solid $primary-300;
                margin-bottom: 2.4rem;

                &-item {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;

                    &-name {
                        font-weight: 600;
                        line-height: 150%;
                        color: $primary-900;

                        &-price {
                            font-weight: 700;
                            color: $primary-900;
                        }
                    }
                }
            }

            &-guaranty {
                display: flex;
                justify-content: space-between;
                border: 1px solid $primary-300;
                border-radius: 1.2rem;
                padding: 1.6rem 2.4rem;
                margin: 2.4rem 0;
                width: 100%;
                background-color: $primary-50;

                &-item {
                    display: flex;
                    align-items: center;
                    gap: 0.8rem;

                    &-icon {
                        width: 2.4rem;
                        height: 2.4rem;
                        fill: $primary-800;
                    }

                    &-text {
                        font-size: 1.4rem;
                        line-height: 150%;
                        color: $primary-800;
                    }
                }
            }

            &-payments {
                display: flex;
                gap: 1.84rem;
                margin-bottom: 3.2rem;
            }

            &-btn {
                @include btnBrown(100%);
            }
        }

    }
}