@use './sass/abstracts/variables' as *;
@use './sass/abstracts/mixins' as *;

.hero {
    display: flex;
    padding: 4rem 0;
    align-items: center;
    width: 120rem;
    margin: 0 auto;

    &-left {
        display: flex;
        flex-direction: column;
        width: 56.3rem;
        margin-right: auto;

        &-title {
            
            margin-bottom: 2.4rem;
        }

        &-btn {
            &-brown {
                @include btnBrown(16.7rem);
                margin-right: 1.6rem;
            }

            &-white {
                @include btnWhite(18.1rem);
            }
        }
    }
}

.about {
    font-family: "Open Sans", sans-serif;
    display: flex;
    align-items: center;
    padding: 4rem 0;
    margin: 0 auto;
    width: 120rem;

    &-content {
        display: flex;
        flex-direction: column;
        margin-left: 4rem;

        &-title {
            font-weight: 700;
            font-size: 2.4rem;
            line-height: 150%;
            color: $primary-900;
            margin-bottom: 0.8rem;
        }

        &-subtitle {
            font-weight: 600;
            font-size: 2rem;
            line-height: 150%;
            color: $primary-900;
        }

        &-list {
            display: flex;
            flex-direction: column;
            gap: 0.4rem;
            margin-bottom: 2.4rem;

            &-item {
                display: flex;
                align-items: center;

                &-icon {
                    width: 2rem;
                    height: 2rem;
                    margin-right: 0.4rem;
                }
            }
        }

        &-text {
            text-align: justify;
        }
    }

    &-img {
        margin-left: 4rem;
    }
    
}