@use './sass/abstracts/variables' as *;
@use './sass/abstracts/mixins' as *;

.hero {
    display: flex;
    padding: 4rem 0;
    align-items: center;
    width: 120rem;

    &-left {
        display: flex;
        flex-direction: column;
        width: 56.3rem;
        margin-right: auto;

        &-title {
            
            margin-bottom: 2.4rem;
        }

        &-btn {
            &-brown {
                @include btnBrown(16.7rem);
                margin-right: 1.6rem;
            }

            &-white {
                @include btnWhite(18.1rem);
            }
        }
    }
}