
@use '../../sass/abstracts/variables' as *;
@use '../../sass/abstracts/mixins' as *;

.faq {
    padding: 8rem 0;
    width: 120rem;
    align-items: center;
    text-align: center;

    &-list {
        display: flex;
        flex-wrap: wrap;
        gap: 2.4rem;
        margin-bottom: 4rem;

        &-item {
            width: 58rem;
            display: flex;
            flex-direction: column;
            text-align: start;
            gap: 1.6rem;

            &-plus {
               width: 2.4rem;
               height: 2.4rem;
               fill: $primary-900;    
            }

            &-close {
                width: 2.4rem;
                height: 2.4rem;
                fill: $primary-700;
            }

            &-header {
                background-color: transparent;
                border: none;
                display: flex;
                align-items: center;
            }
        }
    }

    &-bottom {
        display: flex;
        gap: 2.4rem;
        margin: 0 auto;
        align-items: center;
        width: 39.5rem;

        &-text {
            font-size: 1.8rem;
            color: $primary-900;
        }

        &-btn {
            @include btnBrown(15.3rem);
        }
    }
}

.faq-list-item svg {
    position: absolute;
    top: 35%;
    left: 0;
    transform: translateY(-65%);
    width: 2.4rem;
    height: 2.4rem;
    transition: opacity 0.2s ease;
}

[data-state='closed'] .faq-list-item-plus {
    display: inline;
}

[data-state='closed'] .faq-list-item-close {
    display: none;
}

[data-state='open'] .faq-list-item-plus {
    display: none;
}

[data-state='open'] .faq-list-item-close {
    display: inline;
}

.faq-content {
    overflow: hidden;
    padding: 0 20px 10px;
    transition: height 0.3s ease;
}

.faq-trigger {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    cursor: pointer;
    background: none;
    border: none;
    text-align: left;

    &-title {
        font-size: 1.6rem;
        font-weight: 700;
        color: $primary-900;
        padding-left: 3rem;
        margin-bottom: 1.6rem;
        transition: color 0.3s ease;
    }
}

.faq-trigger:hover h4.faq-trigger-title {
    color: $primary-700;
}

[data-state="open"] .faq-trigger-title {
    color: $primary-700;
}