
@use '../sass/abstracts/variables' as *;

.delivery {
    display: flex;
    flex-direction: column;
    width: 144rem;
    padding: 8rem 0;
    font-family: "Open Sans", sans-serif;

    &-sub {
        font-size: 2rem;
        line-height: 150%;
        text-align: center;
        margin-bottom: 6.6rem;
        width: 60rem;
    }

    &-content {
        display: flex;

        &-list {
            display: flex;
            flex-direction: column;
            gap: 4rem;
            margin-right: auto;
            width: 80rem;

            &-item {
                display: flex;
                flex-direction: column;
                gap: 2.4rem;
                padding: 2.4rem;
                border-radius: 1.2rem;
                background-color: #FEF6E6;
                width: 70rem;

                &-top {
                    display: flex;
                    gap: 1.6rem;
                    align-items: center;

                    &-icon {
                        width: 3.5rem;
                        height: 3.5rem;
                        fill: #fff;
                    }
                }

                &-first {
                    display: flex;
                    align-items: center;
                    gap: 1.6rem;

                    &-icon {
                        width: 2.3rem;
                        height: 2.3rem;
                        display: flex;
                        flex-shrink: 0;
                        fill: black;
                    }

                    &-bottom {
                        display: flex;
                        background-color: $secondary-200;
                        border-radius: .8rem;
                        align-items: flex-start;
                        gap: 1.6rem;
                        padding: 1.6rem;
                        border: solid 1px $primary-300;

                        &-icon {
                            width: 2.2rem;
                            height: 2.2rem;
                        }
                    }
                }
            }
        }
    }
}

.wrapper {
    width: 5.5rem;
    height: 5.5rem;
    background-color: $primary-500;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.circle {
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: $secondary-200;
    flex-shrink: 0;
}