@use '../../sass/abstracts/variables' as *;


.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 1.2rem;
    padding: 2.4rem;
    width: 28.2rem;
    height: 16.3rem;

    box-shadow: 0 4px 6px 0 rgba(33, 22, 18, 0.1);
    background: $secondary-100;

    &-icon {
        width: 4.5rem;
        height: 3.6rem;
        margin-bottom: 0.5rem;
    }

    &-title {
        font-family: var(--font3);
        font-weight: 600;
        font-size: 2rem;
        line-height: 140%;
        text-align: center;
        color: $primary-900;
        margin-bottom: 0.8rem;
    }

    &-description {
        font-family: var(--font3);
        font-size: 1.4rem;
        line-height: 143%;
        text-align: center;
    }
}