@use '../../sass/abstracts/variables' as *;
@use '../../sass/abstracts/mixins' as *;

.skontaktuj {
    padding: 8rem 0;
    width: 100%;
    font-family: "Open Sans", sans-serif;

    &-content {
        background-color: $secondary-100;

        border-radius: 1.2rem;
        padding: 5.6rem 10rem;
        width: 120rem;
        height: 35.4rem;

        box-shadow: 0 10px 15px 0 rgba(33, 22, 18, 0.1);

        &-title {
            font-weight: 700;
            font-size: 3.6rem;
            line-height: 130%;
            text-align: center;
            color: $primary-900;
            width: 55.6rem;
            margin-bottom: 1.6rem;
        }
        
        &-text {
            font-size: 18px;
            text-align: center;
            color: $primary-700;
            width: 68.4rem;
            margin-bottom: 3.2rem;
        }

        &-buttons {
            display: flex;

            &-link {
                @include btnBrown(22.9rem);
                margin-right: 1.6rem;
            }

            &-btn {
                @include btnWhite(19rem);
            }
        }
    }
}