@use '../sass/abstracts/variables' as *;
@use '../sass/base/typography.scss' as *;

.thanks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10rem;

    &-list {
        margin: 6rem 0;
        list-style-type: circle;
        padding-left: 2rem;
        font-size: 2rem;
        color: $primary-900;
        font-weight: 500;

        &-item {
            margin-bottom: 1rem;
        }
    }

    &-email {
        font-size: 2rem;
        margin-bottom: 6rem;
    }
}

