
@use '../sass/abstracts/variables' as *;
@use '../sass/abstracts/mixins' as *;

.blog {
    padding: 8rem 0;
    width: 144rem;
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
    margin: 0 auto;

    &-list {
        display: flex;
        padding: 4rem 0;
        gap: 1.6rem;
        

        &-item {
            border: 1px solid $primary-500;
            border-radius: .8rem;
            padding: 1rem 3.2rem;

            font-weight: 600;
            line-height: 150%;
            text-align: center;
            color: $primary-500;
            transition: all 0.3s ease;

            &:hover,
            &:focus,
            &:active {
                background-color: $primary-500;
                color: #fff;
            }
        }
    }

    &-content {
        display: flex;
        padding: 4rem 0;
        gap: 2.4rem;

        &-cards {
            display: flex;
            flex-direction: column;
            align-items: center;

            &-list {
                display: flex;
                width: 67rem;
                flex-wrap: wrap;
                gap: 3rem;
                margin-bottom: 4rem;

                &-item {
                    width: 32rem;
                }
            }

            &-btn {
                border: none;
                background-color: transparent;

                font-weight: 600;
                font-size: 2rem;
                line-height: 150%;
                text-align: center;
                color: $primary-500;
            }
        }
    }
}