
.popular {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 8rem 0;

    &-list {
        display: flex;
        width: 100%;
        height: 55rem;

        &-item {
            border-radius: 1.2rem;
            padding: 0 0 2.4rem;
            width: 28.2rem;
            height: 48.9rem;
        }
    }
}
