
@use '../../sass/abstracts/variables' as *;

.card {
    display: flex;
    gap: 1.2rem;

    border-radius: 1.2rem;
    width: 33.6rem;
    box-shadow: 0 .4rem .6rem 0 rgba(33, 22, 18, 0.1);
    background: #fff;

    &-img {
        object-fit: cover;
        width: 8.3rem;
        height: 8.6rem;
        border-top-left-radius: 1.2rem;
        border-bottom-left-radius: 1.2rem;
    }

    &-content {
        padding: 0.8rem 1.2rem;
        display: flex;
        flex-direction: column;

        &-title {
            font-weight: 600;
            font-size: 1.4rem;
            line-height: 150%;
            color: $primary-900;
            margin-bottom: 0.8rem;
        }

        &-bottom {
            display: flex;
            gap: 1.6rem;
            font-size: 1.2rem;
            line-height: 150%;
            text-align: center;

            &-all {  
                color: $primary-900;
                border-radius: .8rem;
                padding: 0 1rem .2rem;
                width: 7.5rem;
                height: 2rem;
                background-color: $primary-300;
            }
        }
    }
}