@use './variables' as *;

@mixin btnBrown($width) {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    color: #fff;

    border-radius: .8rem;
    border: transparent;
    padding: 1rem 3.2rem;
    width: $width;
    height: 4.4rem;
    background: $primary-500;
}

@mixin btnWhite($width) {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    color: $primary-500;

    border-radius: .8rem;
    border: 1px solid $primary-500;
    padding: 1rem 3.2rem;
    width: $width;
    height: 4.4rem;
    background: transparent;
}