
@use '../../sass/abstracts/variables' as *;
@use '../../sass/abstracts/mixins' as *;

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1.2rem;
    padding: 0 0 2.4rem;
    width: 38.4rem;
    height: 46.8rem;

    &-content {
        padding: 2.4rem;
        width: 38.4rem;

        &-text {
            font-family: "Open Sans", sans-serif;
            margin: 0.8rem 0 1.6rem 0;
        }

        &-buy {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &-price {
                font-family: "Open Sans", sans-serif;
                font-weight: 700;
                font-size: 2.4rem;
                line-height: 133%;
                color: $primary-900;

                &-netto {
                    font-weight: 400;
                    font-size: 1.4rem;
                }
            }

            &-btn {
                @include btnWhite(15.3rem);
            }
        }
    }
}