@use '../../sass/abstracts/variables' as *;
@use '../../sass/abstracts/mixins' as *;

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid $primary-300;
    border-radius: .8rem;
    padding: 3.2rem;
    width: 48.6rem;
    background: $secondary-100;
    font-family: "Open Sans", sans-serif;

    &-title {
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 150%;
        color: $primary-900;
        display: flex;
        align-self: self-start;
        margin-bottom: 2.4rem;
    }

    &-label {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.6rem;

        &-field {
            border: 1px solid $primary-300;
            border-radius: .8rem;
            padding: .8rem 2rem;
            width: 42.2rem;
            height: 4.0rem;
            background: $secondary-50;
            
            font-family: "Open Sans", sans-serif;
            font-weight: 500;
            font-size: 1.6rem;
            line-height: 150%;
            color: $primary-700;
        }

        &-comment {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;

            border: 1px solid $primary-300;
            border-radius: .8rem;
            padding: 2rem;
            width: 42.2rem;
            height: 14.6rem;
            background: $secondary-50;

            font-family: "Open Sans", sans-serif;
            font-weight: 500;
            font-size: 1.6rem;
            line-height: 150%;
            color: $primary-700;
        }
    }

    &-bottom {
        display: flex;

        &-check {
            position: relative;
            display: flex;
            align-items: baseline;
            font-size: 1.6rem;
            line-height: 150%;
            color: $primary-900;
            margin-bottom: 2.4rem;

            &-span {
                position: absolute;
                top: 0.4rem;
                left: 0;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                justify-content: center;
                align-items: center;
                width: 1.8rem;
                height: 1.8rem;
                border-radius: .3rem;
                border: 2px solid $primary-800;
                transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                background-color: $secondary-50;

                &-icon {
                    width: 1.6rem;
                    height: 1.6rem;

                    opacity: 0;
                    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);;
                }
            }

            &-text {
                padding-left: 3.6rem;

                &-privacy {
                    font-weight: 600;
                    text-decoration: underline;
                    text-decoration-skip-ink: none;
                }
            }
        }
    }

    &-btn {
        display: flex;
        @include btnBrown(22rem);
        margin: 0 auto;
    }
}



input:checked+label.form-bottom-check .form-bottom-check-span {
    background: $primary-900; 
    border: none;
}

input:checked+label.form-bottom-check .form-bottom-check-span-icon {
    opacity: 1;
    fill: #fff;
}