
@use '../../sass/abstracts/variables' as *;
@use '../../sass/abstracts/mixins' as *;

.product {
    padding: 8rem 0;
    width: 120rem;
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;

    &-top {
        display: flex;

        &-left {
            display: flex;
            flex-direction: column;
            margin-right: 2.4rem;
            width: 58.8rem;
    
            &-main {
                border-radius: 1.2rem;
                width: 58.8rem;
                height: 59.8rem;
            }

            &-list {
                display: flex;
                gap: 2.4rem;

                &-item {
                    border: 1px solid $primary-300;
                    border-radius: 1.2rem;
                    width: 18.0rem;
                    height: 18.0rem;
                }
            }
        }

        &-right {
            border: 1px solid $primary-300;
            border-radius: 1.2rem;
            padding: 4rem;
            width: 58.8rem;
            background: $secondary-100;

            &-list {
                display: flex;
                flex-direction: column;
                list-style: disc;
                padding-left: 3rem;
                list-style-position: inside;
                margin: 2rem 0;
            }

            &-wrapper {
                display: flex;
                align-items: center;
                margin-bottom: 3.2rem;

                &-amount {
                    display: flex;
                    margin-right: auto;
                    margin-top: 0.8rem;
            
                    &-btn {
                        border: 1px solid $primary-300;
                        border-radius: .8rem;
                        width: 4rem;
                        height: 4rem;
                        background-color: $secondary-50;
            
                        &-icon {
                            width: 2.4rem;
                            height: 2.4rem;
                            fill: $primary-500;
                        }
                    }

                    &-num {
                        border-radius: .8rem;
                        width: 4rem;
                        height: 4rem;
                        font-weight: 600;
                        font-size: 2rem;
                        line-height: 150%;
                        color: $primary-500;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                &-price {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                }
            }

            &-contact {
                display: flex;
                margin: 0 auto 3.2rem;

                &-cart {
                    @include btnWhite(24.2rem);
                    margin-right: 2rem;
                }

                &-brown {
                    @include btnBrown(22.9rem)
                }
            }

            &-why {
                display: flex;
                flex-direction: column;
                border: 1px solid $primary-300;
                border-radius: 1.2rem;
                padding: 1.6rem;
                width: 50.8rem;
                background-color: $secondary-50;
                gap: 1.4rem;

                &-item {
                    display: flex;
                    align-items: center;

                    &-icon {
                        width: 3rem;
                        height: 3rem;
                        fill: $primary-800;
                        margin-right: 0.8rem;
                    }
                }
            }
        }
    }

    
}

.span {
    font-family: "Open Sans", sans-serif;;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 150%;
    text-decoration: line-through;
    color: $primary-300;
}