@use '../abstracts/variables' as *;


body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    color: $primary-700;
    line-height: 150%;
}

:root {
    --second-family: "Inter", sans-serif;
    --third-family: "Poppins", sans-serif;
    --font3: "Roboto", sans-serif;
    --font4: "Merriweather", sans-serif;
    --font5: "Basier Circle", sans-serif;
    --font6: "Playfair Display", sans-serif;
}

.main-title {
    font-family: var(--font4);
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 120%;
    color: $primary-900;
}

.sub-title {
    font-family: "Open Sans", sans-serif;
    font-size: 2rem;
}

.section-title {
    font-family: var(--font4);
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 120%;
    color: $primary-900;
}

.card-title {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 130%;
    color: $primary-900;
}

.mb-16 {
    margin-bottom: 1.6rem;
}

.mb-24 {
    margin-bottom: 2.4rem;
}

.mb-40 {
    margin-bottom: 4rem;
}