@use '../abstracts/variables' as *;


body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    color: $primary-700;
    line-height: 150%;
}

:root {
    --second-family: "Inter", sans-serif;
    --third-family: "Poppins", sans-serif;
    --font3: "Roboto", sans-serif;
    --font4: "Merriweather", sans-serif;
    --font5: "Basier Circle", sans-serif;
    --font6: "Playfair Display", sans-serif;
}

.main-title {
    font-family: var(--font4);
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 120%;
    color: $primary-900;
}

.sub-title {
    font-family: "Open Sans", sans-serif;
    font-size: 2rem;
}

.section-title {
    font-family: var(--font4);
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 120%;
    color: $primary-900;
}

.sub-title {
    font-family: "Open Sans", sans-serif;
    font-size: 2rem;
    line-height: 150%;
    text-align: center;
    color: $primary-700;
}

.card-title {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 130%;
    color: $primary-900;
}

.blog-title {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 2rem;
    line-height: 150%;
    color: $primary-900;
}

.delivery-title {
    font-family: "Open Sans", Sans-serif;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.5em;
        letter-spacing: 0px;
        color: $primary-900;
}

.title-18 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 150%;
    color: $primary-900;
}

.title-black {
    font-size: 1.2rem;
    color: $primary-900;
}

.cart-title {
    font-family: "Open Sans", sans-serif;
    font-size: 1.4rem;
    line-height: 150%;
    color: $primary-900;
}

.title-16 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: $primary-900;
}

.faq-title {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 120%;
    color: $primary-900;
    margin-bottom: 1.6rem;
    padding-left: 3rem;
}

.faq-title:hover,
.faq-title:focus,
.faq-title:active {
    color: $primary-700;
}

.mb-8 {
    margin-bottom: 0.8rem;
}

.mb-16 {
    margin-bottom: 1.6rem;
}

.mb-24 {
    margin-bottom: 2.4rem;
}

.mb-32 {
    margin-bottom: 3.2rem;
}

.mb-40 {
    margin-bottom: 4rem;
}

.pl-20 {
    padding-left: 2rem;
}

.pl-30 {
    padding-left: 3rem;
}

.pl-120 {
    padding-left: 12rem;
}

.w766 {
    width: 76.6rem;
}

.w416 {
    width: 41.6rem;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}