body {
    font-family: "Open Sans", sans-serif;
    --second-family: "Inter", sans-serif;
    --third-family: "Poppins", sans-serif;
    --font3: "Roboto", sans-serif;
    --font4: "Merriweather", sans-serif;
    --font5: "Basier Circle", sans-serif;
    --font6: "Playfair Display", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    color: #624337;
}